<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}base.html.twig{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}<h2 class="copyright">copyright @zr</h2>{% endblock %}
</body>
</html>